@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14% 10%;
  }

  html {
    overflow-x: hidden;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
    overflow-x: hidden;
  }
}
